*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx


/unpackage/
/node_modules/

.gradle
*.class
**/build/*
**/out/*
**/bin/*
**/log/*
/build/
/out/
/bin/
/log/
!gradle/wrapper/gradle-wrapper.jar
jooq.properties

### STS ###
#.project
#.classpath
#.settings
.apt_generated
.factorypath
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/